<section id="sec-01">
    <!-- style="background-image:url(assets/images/lambdaforge-background-01.jpg); background-repeat: no-repeat;" -->
    <div class="container">
        <h2 class="hero">Building better digital worlds.</h2>
        <h3 class="hero-sub">lambdaforge is a consulting company that specializes in information system engineering and
            digital products.</h3>

        <div class="grid-03">
            <div class="grid-col">
                <p>We design and build scalable, maintainable and reliable systems for data-intensive applications by
                    building on a combination of the best open-source industry standards and our own open-sourced stack.
                </p>
                <p>Our speciality are functional programming paradigms to deliver high-quality products in quick
                    iterations. We can beat the averages by minimizing the complexity of our solutions with Clojure and
                    JavaScript.</p>
            </div>
            <div class="grid-col">
                <p>We are not only able to handle large amounts of data in our pipelines, but believe in tight
                    integration with both well established and bleeding-edge data science technologies. To do so we
                    conduct scientific research parallel to our consulting work.</p>
                <p>We can work with state-of-the-art machine learning frameworks in Python or R, but through our deep
                    understanding we also tightly integrate the necessary numerical routines directly and can infer
                    business-critical information in realtime.</p>
            </div>
        </div>
        <div class="text-center margin-vert">
            <i class="icon-xl clojure"></i> <i class="icon-xl python"></i> <i class="icon-xl javascript"></i>
        </div>
    </div>
</section>