<section
  id="sec-02"
  class="shade-01-bg"
  style="background-image:url(static/images/lambdaforge-background-02.png); background-size: auto; background-repeat: no-repeat; background-attachment: fixed; background-position: center;"
>
  <div class="container">
    <h2 class="sec-headline">About us</h2>
    <p class="text-center">
      Given a problem our team of specialists forms a self-managed, focused unit
      formalizing the product design given the underlying business model to
      implementing a flexible scalable full-stack system design. We then keep
      your long-term costs low by running the resulting system smoothly.
    </p>
    <p class="text-center margin-bottom">
      <a href="mailto:info@lambdaforge.io"><em>Work with us!</em></a>
    </p>

    <div class="grid-02">
      <div class="grid-col card-vert">
        <figure class="square-green">
          <img
            src="static/images/team_konrad-kuehne.png"
            alt="Konrad Kühne"
            title="Konrad Kühne"
          />
        </figure>
        <h3 class="headline">Konrad Kühne</h3>
        <h4 class="subline">CEO, Co-Founder</h4>
        <p>
          Konrad is a seasoned system's engineer with over ten years of
          programming experience covering a wide range of technologies and
          processes. He pushes the boundaries by mixing established technologies
          with problem-specific custom solutions to provide optimal software
          architectures for the task at hand. He always puts the focus on the
          business model first to derive cost-effective and evolvable solutions
          for each problem.
        </p>
        <p>
          Contributing to popular open source projects he also promotes
          open-source solutions to the community in meetups, events and can
          provide courses to get your team up to speed in modern scalable IT
          architectures and technologies.
        </p>
        <aside>
          <h4 class="headline">Elsewhere</h4>
          <a href="https://github.com/kordano">github.com/kordano</a><br />
          <a href="https://konradkuehne.com">konradkuehne.com</a><br />
          <a href="https://twitter.com/konradkuehne">@konradkuehne</a>
        </aside>
      </div>

      <div class="grid-col card-vert">
        <figure class="square-red">
          <img
            src="static/images/team_christian.png"
            alt="Christian Weilbach"
            title="Christian Weilbach"
          />
        </figure>
        <h3 class="headline">Christian Weilbach</h3>
        <h4 class="subline">CRO, Co-Founder</h4>
        <p>
          Christian is an awarded distributed system architect and expert in
          combining machine-learning systems with scalable data-processing
          systems.
        </p>
        <p>
          Being a computer scientist by training he cares deeply about the
          economic success of projects. Drawing on his academic network he can
          quickly research state-of-the-art solutions for problems and helps to
          frame a long-term strategy for products and companies. He educates
          with passion and pushes the boundaries by developing new
          machine-learning technologies in his PhD at UBC.
        </p>
        <aside>
          <h4 class="headline">Elsewhere</h4>
          <a href="https://github.com/kordano">github.com/whilo</a><br />
          <a href="https://whilo.github.io/">whilo.github.io</a><br />
          <a href="https://twitter.com/wh1lo">@wh1lo</a>
        </aside>
      </div>

      <div class="grid-col card-vert">
        <!-- Fix picture form -->
        <figure class="square-blue">
          <img
            src="static/images/team_pablo.png"
            alt="Pablo Mestre Drake"
            title="Pablo Mestre Drake"
          />
        </figure>
        <h3 class="headline">Pablo Mestre Drake</h3>
        <h4 class="subline">Devops Specialist</h4>
        <p>
          Pablo is an experienced devops engineer who specializes in
          administrating modern scalable web solutions with the best
          technologies suited for the job. Being an open source advocate he is
          an expert in Linux systems and orchestrates systems with modern
          container solutions.
        </p>
        <p>
          As a cuban citizen working in Brazil he supports the south american
          free software community by organizing events like the
          <a href="http://www.cubaconf.org/" target="_blank">cubaconf</a>.
        </p>
        <aside>
          <h4 class="headline">Elsewhere</h4>
          <a href="https://twitter.com/elmor3no_?lang=en">@emor3no</a>
        </aside>
      </div>

      <div class="grid-col card-vert">
        <!-- Fix picture form -->
        <figure class="square-green">
          <img
            src="static/images/team_chrislain.png"
            alt="Chrislain Razafimahefa"
            title="Chrislain Razafimahefa"
          />
        </figure>
        <h3 class="headline">Chrislain Razafimahefa</h3>
        <h4 class="subline">Backend Architect</h4>
        <p>
          Chrislain obtained a PhD from Geneva University on runtime support for
          Java applications, before spending a postdoctoral year at Sun
          Microsystems, Palo Alto. He has since worked on development projects
          in Geneva for an international organization and a bank. He taught
          undergraduate courses on communication protocols and multimedia at
          Geneva University.
        </p>
        <aside>
          <h4 class="headline">Elsewhere</h4>
          <a href="http://www.sharedobject.ch/">Shared Object</a><br />
          <a href="https://github.com/grischoun">github.com/grischoun</a>
        </aside>
      </div>

      <div class="grid-col card-vert">
        <!-- Fix picture form -->
        <figure class="square-red">
          <img
            src="static/images/team_wade.png"
            alt="Wade Dominic"
            title="Wade Dominic"
          />
        </figure>
        <h3 class="headline">Wade Dominic</h3>
        <h4 class="subline">Jack of all trades</h4>
        <p>
          Wade dances on the border of creativity and logic. As a designer
          developer he establishes channels of communication which visualise and
          articulate a vision right through to the implementation details. His
          unique experience and perspective streamlines product development by
          avoiding miscommunication and wasted/throwaway feature development.
        </p>
        <p>
          Always on the pursuit of more knowledge he now studies mathematics and
          physics in Australia.
        </p>
        <aside>
          <h4 class="headline">Elsewhere</h4>
          <a href="https://github.com/groundedSAGE">github.com/groundedSAGE</a>
        </aside>
      </div>

      <div class="grid-col card-vert">
        <!-- Fix picture form -->
        <figure class="square-blue">
          <img
            src="static/images/team_ferdi.png"
            alt="Ferdinand Kühne"
            title="Ferdinand Kühne"
          />
        </figure>
        <h3 class="headline">Ferdinand Kühne</h3>
        <h4 class="subline">Open Source Contributor</h4>
        <p>
          As an avid open source developer Ferdi supports us in his free time on
          our open source libraries
          <a href="https://github.com/replikativ/konserve" target="_blank"
            >konserve</a
          >
          and
          <a href="https://github.com/replikativ/incognito" target="_blank"
            >incognito</a
          >. He works at jSERVICE as a Clojure developer in Münster.
        </p>
        <aside>
          <h4 class="headline">Elsewhere</h4>
          <a href="https://github.com/FerdiKuehne">github.com/FerdiKuehne</a>
        </aside>
      </div>
    </div>
  </div>
</section>
